// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Allgemein
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

html {
    width: 100%;
    height: 100%;
}

body {

}


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Header
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

header {
    .logo {

    }

    .mainnav {

    }

}


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Content
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Grid
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.row {
    @extend .cf;
    margin-bottom: 1rem;
}

.col-1of2 {
    @include mq-min($sm){
        @include col(1/2);
    }
}

.col-1of3 {
    @include mq-min($sm){
        @include col(1/3);
    }
}

.col-2of3 {
    @include mq-min($sm){
        @include col(2/3);
    }
}


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Footer
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

footer {

}