// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Farben
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$weiss: rgb(255,255,255);
$hellgrau: rgb(235,235,235);
$grau: rgb(170,170,170);
$dunkelgrau: rgb(80,80,80);
$schwarz: rgb(30,30,30);


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// MQs
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$mb: 30em;
$tn: 40em;
$sm: 48em;
$md: 56.25em;
$lg: 65em;


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Typo
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

$font: serif;

$caption: .8rem;
$copy: 1rem;
$lead: 1.4rem;
$head: 2.1rem;


// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Diverses / Extends
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

*,
*:before,
*:after {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

img,
object,
embed {
    max-width: 100%;
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}
